---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Project from "../components/Project.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Syaamil Fa'iq">
    <main style="overflow-x: hidden;">
        <Hero />
        <About />
        <Project />
        <Contact />
    </main>
</Layout>
