<div
    class="container py-8 mx-auto md:flex md:gap-6 md:py-12 lg:py-16 xl:gap-14 xl:py-20"
>
    <div class="flex flex-col md:basis-2/3">
        <h1 class="mb-4 text-4xl tracking-widest no-show md:text-6xl lg:text-8xl">
            Hi! I'm <br />
            <span data-text="SYAAMIL FA'IQ">SYAAMIL FA'IQ</span>
        </h1>
        <p class="mb-8 no-show md:mb-0 lg:text-xl lg:text-justify xl:text-3xl">
            I'm a final year software engineering student from Universiti Malaya
            also an aspiring full-stack web developer with a passion for
            front-end development and web design.
            <br />
            <br />
            I thrive in team environments and am constantly looking for ways to improve
            and learn new skills. My goal is to create visually stunning and user-friendly
            websites that provide a seamless experience for users.
        </p>
    </div>
    <div class="flex justify-stretch items-stretch md:basis-1/3">
        <img src="/portfolio-website/img/syaamil-latest.jpg" alt="Syaamil Fa'iq" class="object-cover" />
    </div>
</div>

<style>
    h1 {
        font-family: "Bebas Neue", cursive;
        color: var(--cultured);
    }

    h1 span {
        color: var(--airblue);
    }

    p {
        font-family: "Barlow Semi Condensed", sans-serif;
        color: var(--cultured);
    }

    .no-show {
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-100%);
        transition: all 2s;
    }

    .show {
        opacity: 1;
        filter: blur(0px);
        transform: translateX(0);
    }
</style>
