<header aria-label="Site Header" class="">
    <div class="max-w-screen-xl px-4 mx-auto sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
            <div class="flex-1 md:flex md:items-center md:gap-12">
                <a class="block text-xl" href="/">
                    <span class="" id="logo">SYAAMIL FA'IQ</span>
                </a>
            </div>

            <div class="md:flex md:items-center">
                <nav aria-label="Site Nav" class="hidden md:block">
                    <ul class="flex items-center gap-12 text-md">
                        <li>
                            <a class="transition text-lg" href="/">ABOUT</a>
                        </li>

                        <li>
                            <a class="transition text-lg" href="/">PROJECTS</a>
                        </li>

                        <li>
                            <a class="transition text-lg" href="/">CONTACT</a>
                        </li>
                    </ul>
                </nav>

                <div class="flex items-center gap-4">
                    <div class="block md:hidden">
                        <button
                            class="p-2 text-gray-600 transition bg-gray-100 rounded hover:text-gray-600/75"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="w-5 h-5"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                                stroke-width="2"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M4 6h16M4 12h16M4 18h16"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<style>
    header {
        background-color: var(--cultured);
    }

    a {
        color: var(--jet);
        font-family: "Barlow Semi Condensed", sans-serif;
    }

    a:hover {
        color: var(--airblue);
    }

    #logo {
        color: var(--airblue);
    }
</style>
