<header class="container mx-auto flex justify-center sticky top-0">
    <ul class="nav-items flex w-70 p-4">
        <li class="nav-item px-4">
            <a href="#">About</a>
        </li>
        <li class="nav-item px-4">
            <a href="#">Experience</a>
        </li>
        <li class="nav-item px-4">
            <a href="#">Tech Stacks</a>
        </li>
        <li class="nav-item px-4">
            <a href="#">Projects</a>
        </li>
        <li class="nav-item px-4">
            <a href="#">Contact</a>
        </li>
    </ul>
</header>

<style>
    .nav-items a {
        font-family: "Montserrat", sans-serif;
        color: var(--cultured);
    }

    .nav-items a:hover {
        color: var(--imperialred);
    }
</style>
