<div
    class="flex flex-col items-center justify-end gap-16 p-8 mx-auto overflow-clip md:gap-20 lg:gap-28 2xl:gap-44"
    id="hero"
>
    <div class="flex flex-col items-center gap-4">
        <h1
            class="text-3xl tracking-widest whitespace-nowrap md:text-4xl 2xl:text-6xl"
        >
            FULL-STACK DEVELOPER
        </h1>
        <div class="marquee">
            <ul class="marquee__content">
                <li
                    class="text-5xl tracking-widest whitespace-nowrap md:text-6xl 2xl:text-8xl"
                >
                    PORTFOLIO
                </li>
                <li
                    class="text-5xl tracking-widest whitespace-nowrap md:text-6xl 2xl:text-8xl"
                >
                    PORTFOLIO
                </li>
                <li
                    class="text-5xl tracking-widest whitespace-nowrap md:text-6xl 2xl:text-8xl"
                >
                    PORTFOLIO
                </li>
            </ul>
            <!-- Mirrors the content above -->
            <ul class="marquee__content" aria-hidden="true">
                <li
                    class="text-5xl tracking-widest whitespace-nowrap md:text-6xl 2xl:text-8xl"
                >
                    PORTFOLIO
                </li>
                <li
                    class="text-5xl tracking-widest whitespace-nowrap md:text-6xl 2xl:text-8xl"
                >
                    PORTFOLIO
                </li>
                <li
                    class="text-5xl tracking-widest whitespace-nowrap md:text-6xl 2xl:text-8xl"
                >
                    PORTFOLIO
                </li>
            </ul>
        </div>

        <h1
            class="text-3xl tracking-widest whitespace-nowrap md:text-4xl 2xl:text-6xl"
        >
            UI/UX DESIGNER
        </h1>
    </div>
    <div class="flex items-center justify-center">
        <h1
            class="pl-4 text-7xl text-center leading-none tracking-widest md:text-[8rem] md:whitespace-nowrap lg:text-[11rem] xl:text-[12rem] xl:tracking-[2rem]"
        >
            SYAAMIL FA'IQ
        </h1>
    </div>
</div>

<style>
    #hero {
        background-image: url("/img/hero-bg.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 95vh;
        width: 100%;
    }

    h1 {
        font-family: "Bebas Neue", cursive;
        color: var(--cultured);
    }

    .marquee {
        --gap: 1rem;
        position: relative;
        display: flex;
        overflow: hidden;
        user-select: none;
        gap: var(--gap);
    }

    .marquee__content {
        flex-shrink: 0;
        display: flex;
        justify-content: space-around;
        gap: var(--gap);
        min-width: 100%;
        animation: scroll 10s linear infinite;
    }
    .marquee__content li {
        font-family: "Bebas Neue", cursive;
        text-shadow: -1px -1px 0 var(--cultured), 1px -1px 0 var(--cultured),
            -1px 1px 0 var(--cultured), 1px 1px 0 var(--cultured);
    }

    @keyframes scroll {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(calc(-100% - var(--gap)));
        }
    }
</style>
