<div class="hidden items-center justify-end h-[100vh] overflow-hidden bg-[url(/img/hero-bg.jpg)] lg:flex">
        <img
            src="/img/syaamil-wobg.png"
            alt="hero image"
            class="z-10 absolute w-auto h-full object-cover"
        />
    <div class="container mx-auto flex flex-col items-center gap-16">
        <div class="z-0">
            <h1 class="text-[2rem] whitespace-nowrap ioe">FULL-STACK <span class="platinum">DEVELOPER</span></h1>
        </div>
        <div class="z-10 whitespace-nowrap flex justify-start overflow-hidden ">
            <h1 class="text-[6rem] tracking-widest font-black whitespace-nowrap pl-10" id="marquee">SYAAMIL FA'IQ <span class="ioe">-</span></h1>
            <h1 class="text-[6rem] tracking-widest font-black whitespace-nowrap pl-10" id="marquee">SYAAMIL FA'IQ <span class="ioe">-</span></h1>
            <h1 class="text-[6rem] tracking-widest font-black whitespace-nowrap pl-10" id="marquee">SYAAMIL FA'IQ <span class="ioe">-</span></h1>
            <h1 class="text-[6rem] tracking-widest font-black whitespace-nowrap pl-10" id="marquee">SYAAMIL FA'IQ <span class="ioe">-</span></h1>
        </div>
        <div class="z-0">
            <h1 class="text-[2rem] whitespace-nowrap platinum">UI/UX <span class="ioe">DESIGNER</span></h1>
        </div>
    </div>
</div>

<div class="flex h-[100vh] justify-end overflow-hidden bg-[url(/img/hero-bg.jpg)] lg:hidden">
        <img
            src="/img/syaamil-wobg.png"
            alt="hero image"
            class="z-10 absolute w-auto h-full object-cover object-[left_-3rem_top_1rem] mobile-md:object-[left_0_top_1rem]"
        />
    <div class="container mx-auto flex flex-col gap-14">
        <div class="container mx-auto flex flex-col gap-10 py-16 pl-2">
            <div class="z-0">
                <h1 class="text-[2.3rem] leading-none ioe md:text-[3rem]">FULL-STACK <br/> <span class="platinum">DEVELOPER</span></h1>
            </div>
            <div class="z-0">
                <h1 class="text-[2.3rem] leading-none platinum md:text-[3rem]">UI/UX <br/> <span class="ioe">DESIGNER</span></h1>
            </div>
        </div>
        <div class="z-10 whitespace-nowrap flex justify-start overflow-hidden ">
            <h1 class="text-[3rem] tracking-widest font-black whitespace-nowrap pl-10" id="marquee">SYAAMIL FA'IQ <span class="ioe">-</span></h1>
            <h1 class="text-[3rem] tracking-widest font-black whitespace-nowrap pl-10" id="marquee">SYAAMIL FA'IQ <span class="ioe">-</span></h1>
            <h1 class="text-[3rem] tracking-widest font-black whitespace-nowrap pl-10" id="marquee">SYAAMIL FA'IQ <span class="ioe">-</span></h1>
            <h1 class="text-[3rem] tracking-widest font-black whitespace-nowrap pl-10" id="marquee">SYAAMIL FA'IQ <span class="ioe">-</span></h1>
        </div>
    </div>
</div>

<style>
    h1 {
        font-family: "Poppins", sans-serif;
        color: var(--platinum);
    }

    .ioe {
        color: var(--ioe);
    }

    .platinum {
        color: var(--platinum);
    }

    #marquee {
        animation: marquee 5s linear infinite;
    }

    @keyframes marquee {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }
</style>
