<div
    class="flex flex-col h-full p-8 mx-auto overflow-clip"
    id="hero"
>
    <div class="flex flex-col items-center gap-4 mt-auto no-show">
        <h1
            class="text-3xl tracking-widest whitespace-nowrap md:text-4xl 2xl:text-6xl"
        >
            FULL-STACK DEVELOPER
        </h1>

        <h1
            class="text-3xl tracking-widest whitespace-nowrap md:text-4xl 2xl:text-6xl"
        >
            UI/UX DESIGNER
        </h1>
    </div>
    <div class="flex items-center justify-center mt-auto no-show">
        <h1
            class="pl-4 text-7xl text-center leading-none tracking-widest md:text-[8rem] md:whitespace-nowrap lg:text-[11rem] xl:text-[12rem] xl:tracking-[2rem]"
        >
            SYAAMIL FA'IQ
        </h1>
    </div>
</div>

<style>
    #hero {
        background-image: url("/img/hero-bg.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
    }

    h1 {
        font-family: "Bebas Neue", cursive;
        color: var(--cultured);
    }

    .no-show {
        opacity: 0;
        filter: blur(5px);
        transform: translateY(-100%);
        transition: all 2s;
    }

    .show {
        opacity: 1;
        filter: blur(0px);
        transform: translateY(0);
    }
</style>
