<div class="py-8 bg-black md:py-12 lg:py-16 xl:py-20">
    <div
        class="container flex flex-col items-center justify-center mx-auto md:flex-row-reverse"
    >
        <div
            class="flex items-center justify-center gap-4 mb-8 md:flex-col md:justify-evenly-around md:mb-0 md:pl-12 lg:pl-16 xl:pl-20"
        >
            <h1 class="text-5xl md:text-7xl lg:text-8xl xl:text-9xl">P</h1>
            <h1 class="text-5xl md:text-7xl lg:text-8xl xl:text-9xl">R</h1>
            <h1 class="text-5xl md:text-7xl lg:text-8xl xl:text-9xl">O</h1>
            <h1 class="text-5xl md:text-7xl lg:text-8xl xl:text-9xl">J</h1>
            <h1 class="text-5xl md:text-7xl lg:text-8xl xl:text-9xl">E</h1>
            <h1 class="text-5xl md:text-7xl lg:text-8xl xl:text-9xl">C</h1>
            <h1 class="text-5xl md:text-7xl lg:text-8xl xl:text-9xl">T</h1>
            <h1 class="text-5xl md:text-7xl lg:text-8xl xl:text-9xl">S</h1>
        </div>
        <div class="flex flex-col items-center justify-center">
            <a
                class="wrapper"
                href="https://github.com/GnosisUM/Vokal"
                target="_blank"
            >
                <div class="button h-[calc(100vw/3)] flex overflow-hidden">
                    <img
                        src="/img/vokal.jpg"
                        class="self-center justify-self-center"
                    />
                </div>
                <div
                    class="overlay h-[calc(100vw/3)] flex flex-col justify-center p-8 lg:p-12 xl:p-16 2xl:p-20 bg-white/[0.7] opacity-0 hover:opacity-100 transition duration-700"
                >
                    <h1 class="desc-title md:text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl">Vokal</h1>
                    <p class="desc lg:text-md xl:text-lg 2xl:text-2xl">
                        An application that utilizes an AI-powered voice
                        recognition model to determine the gender of a speaker
                        and generate an appropriate caption for their speech.
                        The application can quickly analyze the speaker's voice,
                        accurately identify if they are male or female, and then
                        generate a caption that is tailored to their gender.
                    </p>
                </div>
            </a>
            <a
                class="wrapper"
                href="https://github.com/alifmazli/automated-inventory-management-system"
                target="_blank"
            >
                <div
                    class="button h-[calc(100vw/3)] flex justify-center items-center overflow-hidden"
                >
                    <img src="/img/aims.jpg" class="" />
                </div>
                <div
                    class="overlay h-[calc(100vw/3)] flex flex-col justify-center p-8 lg:p-12 xl:p-16 2xl:p-20 bg-white/[0.7] opacity-0 hover:opacity-100 transition duration-700"
                >
                    <h1 class="desc-title md:text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl">
                        Automated Inventory Management System (AIMS)
                    </h1>
                    <p class="desc lg:text-md xl:text-lg 2xl:text-2xl">
                        An automated inventory management system that
                        streamlines the inventory process for businesses. The
                        system has the ability to access email, extract relevant
                        data, and perform data cleaning to ensure accuracy. With
                        this system, businesses can keep track of their stock
                        levels, minimize waste and save time by automating
                        manual processes.
                    </p>
                </div>
            </a>
            <a
                class="wrapper"
                href="https://github.com/xputerax/objetivo-full"
                target="_blank"
            >
                <div
                    class="button h-[calc(100vw/3)] flex justify-center items-center overflow-hidden"
                >
                    <img src="/img/objetivo.jpg" class="" />
                </div>
                <div
                    class="overlay h-[calc(100vw/3)] flex flex-col justify-center p-8 lg:p-12 xl:p-16 2xl:p-20 bg-white/[0.7] opacity-0 hover:opacity-100 transition duration-700"
                >
                    <h1 class="desc-title md:text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl">Objetivo</h1>
                    <p class="desc lg:text-md xl:text-lg 2xl:text-2xl">
                        A goal tracking app designed to help individuals reach
                        their aspirations. The app allows users to add their
                        personal goals and assign them to a designated mentor
                        for added accountability and support. With this app,
                        users can set and track progress towards their goals,
                        receive motivation and guidance from their mentor, and
                        ultimately achieve their aspirations.
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>

<style>
    h1 {
        font-family: "Bebas Neue", cursive;
        color: var(--cultured);
    }

    .desc-title {
        font-family: "Bebas Neue", cursive;
        color: var(--airblue);
    }

    .desc {
        font-family: "Barlow Semi Condensed", sans-serif;
        color: var(--jet);
    }

    .wrapper {
        display: grid;
        background-color: var(--cultured);
    }

    .button,
    .overlay {
        grid-area: 1/1;
    }
</style>
